.RowCheck{
  padding: 0;
  position: relative;
  top: 20px;
  height: 55px;
  border-bottom: 1px dotted black
}
#cursorPointer{
    margin-top: 10px;
}
.tablecheck{
    /* margin-top: 100px; */
}
.headerCheck{
    height: 50px;
}
.page{
    margin-top: 20px;
    float: right;
}